:root {
  /*** Palette values ***/
  --primary-50: 138 68% 95%;
  --primary-100: 138 65% 90%;
  --primary-200: 139 65% 80%;
  --primary-300: 139 66% 71%;
  --primary-400: 139 66% 61%;
  --primary-500: 139 66% 51%;
  --primary-600: 139 66% 41%;
  --primary-700: 139 66% 31%;
  --primary-800: 139 65% 20%;
  --primary-900: 138 65% 10%;
  --primary-950: 141 68% 5%;
  --secondary-50: 248 62% 95%;
  --secondary-100: 247 65% 90%;
  --secondary-200: 246 63% 80%;
  --secondary-300: 246 63% 70%;
  --secondary-400: 246 63% 60%;
  --secondary-500: 246 63% 50%;
  --secondary-600: 246 63% 40%;
  --secondary-700: 246 63% 30%;
  --secondary-800: 246 63% 20%;
  --secondary-900: 247 65% 10%;
  --secondary-950: 244 62% 5%;
  --neutral-50: 0 0 98%;
  --neutral-100: 0 0 96%;
  --neutral-200: 0 0 90%;
  --neutral-300: 0 0 83%;
  --neutral-400: 0 0 63%;
  --neutral-500: 0 0 45%;
  --neutral-600: 0 0 32%;
  --neutral-700: 0 0 25%;
  --neutral-800: 0 0 15%;
  --neutral-900: 0 0 9%;
  --neutral-950: 0 0 4%;

  /*** Theme specific values ***/
  --text-neutral: var(--neutral-900);
  --text-accent: var(--neutral-600);
}

/* OLD and Deprecated values */
:root {
  /* Colors */
  --color-primary: hsl(var(--secondary-600));
  --color-on-primary: #ffffff;
  --color-primary-lighter: hsl(220, 43%, 65%);
  --color-primary-focus-ring: hwb(220 21% 47% / 0.2);
  --color-secondary: hsl(var(--primary-600));
  --color-on-secondary: #ffffff;
  --color-tertiary: #e03258;
  --color-on-tertiary: #ffffff;
  --color-quaternary: #5b53c9;
  --color-on-quaternary: #ffffff;
  --color-additionnal-1: hsl(40, 100%, 89%);
  --color-additionnal-1-hover: hsl(40, 100%, 81%);

  --color-surface: white;
  --color-on-surface: #022826;

  /* Shadows */
  --shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
  --shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
  --shadow-border-small: var(--shadow-border), var(--shadow-small);

  --radius: 0.75rem;
}
