name: Deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.X
        uses: actions/setup-node@v4
        with:
          node-version: 20.X
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Replace symlinks by the targeted file
        run: find ./dist -type l -exec sh -c 'cp --remove-destination "$(readlink "{}")" "{}"' \;

      - uses: actions/upload-artifact@v4
        with:
          name: website
          path: ./dist/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: website

      - name: Upload to SFTP
        uses: wangyucode/sftp-upload-action@v2.0.2
        with:
          host: ${{ secrets.UPLOAD_SFTP_HOST }}
          username: ${{ secrets.UPLOAD_SFTP_USERNAME }}
          password: ${{ secrets.UPLOAD_SFTP_PASSWORD }}
          compress: true
          localDir: ${{ github.workspace }}
          remoteDir: ${{ secrets.UPLOAD_SFTP_DIRECTORY }}
